<ion-header>
  <ion-toolbar>
    <ion-item>
           <button id="btn"type="submit" [routerLink]="['/contenido']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Regresar</button>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="contenido">
    <ion-title>Minecraft</ion-title><br>
    <img src="../../../assets/img/imgm/mine.jpeg"><br>
    <ion-text>
      
      
      Minecraft es un juego de mundo abierto, y no tiene un fin claramente definido. Esto permite una gran libertad en cuanto a la elección de su forma de jugar. A pesar de ello, el juego posee un sistema que otorga logros por completar ciertas acciones.
    </ion-text>
  </div>
</ion-content>
