<ion-header>
  <ion-toolbar>
    <ion-item>
           <button id="btn"type="submit" [routerLink]="['/contenido']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Regresar</button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="contenido">
  <ion-title>Apex Legends</ion-title><br>
  <img src="../../../assets/img/imgm/apex.jpg"><br>
  <ion-text>
    Apex Legends se desarrolla en un universo envolvente donde la historia sigue evolucionando, los mapas cambian cada temporada y nuevas leyendas se siguen uniendo a la lucha. ¡Deja tu marca en los Apex Games con multitud de atuendos característicos y aviéntate a la aventura!
  
  </ion-text>
</div>
</ion-content>
