<ion-header>
  <ion-toolbar>
    <ion-item>
           <button id="btn"type="submit" [routerLink]="['/contenido']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Regresar</button>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="contenido">
    <ion-title>Sea of Thieves</ion-title><br>
    <img src="../../../assets/img/imgm/sea.jpg"><br>
    <ion-text>
      
      
      Sea of Thieves ofrece la experiencia de piratería por excelencia, lleno de aventuras de navegación, exploración y saqueos, acertijos por resolver y tesoros por descubrir... todo lo que necesitas para vivir la vida de pirata con la que siempre has soñado.
    </ion-text>
  </div>
</ion-content>
