<ion-header>
  <ion-toolbar>
    <ion-item>
           <button id="btn"type="submit" [routerLink]="['/contenido']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Regresar</button>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="contenido">
    <ion-title>Fortnite</ion-title><br>
    <img src="../../../assets/img/imgm/forna.jpg"><br>
    <ion-text>
      
      
      Es un juego de tipo batalla real en el que compiten hasta cien jugadores en solitario o en escuadrones de dos o cuatro miembros. Los jugadores saltan de un autobús que cruza el mapa en el momento que deseen, y empiezan sin armas. Cuando aterrizan, deben buscar armas, objetos útiles y recursos, evitando que los maten mientras atacan a otros jugadores. La acción se divide en rondas con una duración determinada    

    </ion-text>
  </div>
</ion-content>
