<ion-header>
  <ion-toolbar>
    <ion-item>
           <button id="btn"type="submit" [routerLink]="['/contenido']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Regresar</button>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="contenido">
    <ion-title>Terraria</ion-title><br>
    <img src="../../../assets/img/imgm/terra.jpg"><br>
    <ion-text>
      
      
      Terraria es un videojuego de mundo abierto en 2D. Contiene elementos de construcción, exploración, aventura y combate, muy similar a juegos clásicos de la consola Super NES, como por ejemplo la serie Metroid, y a otras entregas más recientes como Minecraft. El juego comienza en un mundo creado de forma aleatoria.
    </ion-text>
  </div>
</ion-content>
