<ion-header>
  <ion-toolbar>
    <ion-item>
           <button id="btn"type="submit" [routerLink]="['/contenido']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Regresar</button>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="contenido">
    <ion-title>New World</ion-title><br>
    <img src="../../../assets/img/imgm/new.jpg"><br>
    <ion-text>
      
      
      La guerra es el pináculo de JcJ en New World: épicas guerras de asedio a escala masiva, con equipos de 50 jugadores de atacantes y defensores luchando por el control y la victoria. El resultado de cada guerra determina qué compañía controla el territorio o los asentamientos disputados, lo cual convierte esto en una lucha por el futuro de Aetérnum.
    </ion-text>
  </div>
</ion-content>
