<ion-header>
  <ion-toolbar>
    <ion-item>
           <button id="btn"type="submit" [routerLink]="['/contenido']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Regresar</button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="contenido">
  <ion-title>League of Legends</ion-title><br>
  <img src="../../../assets/img/imgm/leage.jpg"><br>
  <ion-text>
    
    League of Legends es un juego de estrategia por equipos en el que dos equipos de cinco campeones se enfrentan para ver quién destruye antes la base del otro. Elige de entre un elenco de 140 campeones para realizar jugadas épicas, asesinar rivales y derribar torretas para alzarte con la victoria.  
  </ion-text>
</div>
</ion-content>
